/************************************************** 
** All the Fonts 
***************************************************/
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Graduate', cursive;
}

/* !Generic CSS  */
.orange-color {
	color: #e76f51;
}
.grey-color {
	color: #e0e0e0;
}

.btn-orange {
	padding: 10px 24px;
	background: #e76f51;
	border-color: #e76f51;
}

.btn-outline-orange {
	padding: 10px 24px;
	background: transparent;
	border-color: #e76f51;
	color: #e76f51 !important;
}
.btn-outline-orange:hover {
	transition: 0.3s;
	background: #e76f51;
	color: white !important;
}

.shadow {
	box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
		0 2px 6px 0 rgb(206 206 238 / 54%);
}

.text-justify-class {
	text-align: justify;
}

/* !header section customs css */
.header-section {
	background-color: #264653;
}

/* create grey image  */

.img-grey {
	filter: grayscale(100%);
}

.object-cover {
	object-fit: cover;
}

.feture-bikes-border {
	/* display: block; */
	width: 80px;
	height: 3px;
	background: #f1cd8f;
	margin: 20px auto;
}

/* !Our Customer custom CSS  */

.customers-icons {
	width: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ededed;
	font-size: 27px;
	border-radius: 10px;
}

.card-radius {
	border-radius: 10px;
	box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
		0 2px 6px 0 rgb(206 206 238 / 54%);
}

.bg-gradient-usa {
	background: #17ead9;
	background: -webkit-linear-gradient(45deg, #17ead9, #6078ea) !important;
	background: linear-gradient(45deg, #17ead9, #6078ea) !important;
}

.bg-gradient-europe {
	background: #f54ea2;
	background: -webkit-linear-gradient(45deg, #f54ea2, #ff7676) !important;
	background: linear-gradient(45deg, #f54ea2, #ff7676) !important;
}

.bg-gradient-asia {
	background: #00b09b;
	background: -webkit-linear-gradient(45deg, #00b09b, #96c93d) !important;
	background: linear-gradient(45deg, #00b09b, #96c93d) !important;
}

.bg-gradient-africa {
	background: #ffdf40;
	background: -webkit-linear-gradient(45deg, #ffdf40, #ff8359) !important;
	background: linear-gradient(45deg, #ffdf40, #ff8359) !important;
}

/* upcoming bikes css  */
.upcoming-bikes-title {
	background: #2d25a0;
	padding: 3%;
	margin-bottom: 20px;
	border-radius: 5px;
}
